.App {
  text-align: center;
}

.table {
  width: 100%;
  background-color: whitesmoke;
}

.header {
  margin-bottom: 2px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
}

.row {
  place-self: start;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
}

.header-cell {
  width: 50%;
}
.content-cell {
  width: 50%;
}
